<p> <b> Description/Text </b></p>
<table border="1" style="width:100%">
<tr>
   <td>Description</td>
   <td>text</td>
   </tr>
   </table>
<% @articles.each do |article| %>
    <table border="1" style="width:100%">
   
   <tr>
       <td><b><%= article.description %></b></td>
        <td><%= article.text %></td>
        
   </tr>
    </table><br>
    <br>

<% end %>

<%= link_to 'SIGN OUT', logout_path %> <br>

<%= link_to 'ARTICLE', new_article_path %>