<p> <b> Admin </b></p>
<table border="1" style="width:100%">
<tr>
   <th>Firstname</th>
   <th>Lastname</th>
   <th>Email</th>
   <th>delete</th>
   </tr>
   </table>
<% @users.each do |user| %>
    <table border="1" style="width:100%">
   
   <tr>
       <td> <%= user.first_name %> </td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Delete',user_path(user), :method => :delete %></td>
    </tr>
    </table>
<% end %>